<div class="row">
  <div class="span8">
    <%= render partial: 'votes/voter', locals: { topic: @topic, post: @post } %>
    <h1><%= @post.title %></h1>
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= @post.user.name %>
    </small>
    <p><%= image_tag(@post.image.url) if @post.image? %></p>
    <%= markdown @post.body %>
    <ul class="media-list">
      <%= render @post.comments %>
    </ul>
    <% if can? :create, @comment %>
      <%= render "comments/form", locals = { topic: @topic, post: @post, comment: @comment } %>
    <% else %>
      <p>Please log in to post comments</p>
    <% end %>
  </div>
  <div class="span4">
    <% if can? :edit, @post %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-large btn-block' %>
    <% end %>
    <% if can? :destroy, @post %>
      <%= link_to "Delete Post", [@topic, @post], method: :delete, class: 'btn btn-large btn-block btn-danger', confirm: 'Are you sure you want to delete this post?' %>
    <% end %>

    <div>
      <h3><%= pluralize(@post.points, 'point') %></h3>
      <small>
        <%= pluralize(@post.up_votes, 'up vote') %>,
        <%= pluralize(@post.down_votes, 'down vote') %>
      </small>
    </div>
  </div>
</div>
